.round-corners
{
    border-radius: 20px;
}

.height100p
{
    height: 100vh;
}
.h100
{
    height:100%;
}
.contentBox
{
    position: relative;
}
.contentBox h1
{
    font-weight: 800;
    color: black;
    text-transform: uppercase;
    font-size: 5rem;
    text-shadow: 1px 1px 2px black;
 
}
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*
{
    outline: none !important;
    scroll-behavior: smooth;
}
.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 25px;
}

.height100p
{
    height: 250vh;
}
.h100
{
    height:100%;
}

.contentBox p
{
    color:black;
    font-size:1.3rem;
    margin: 25px;
}
.sec1
{
    padding: 100px;
    background:black;
    border-spacing: 50px;
}
.headerText
{
    color: white;
    margin-bottom: 25px;
}

.headerText h2
 
{
    font-size: 1.5rem;
    margin-bottom: 25px;
    margin-top: 20px;
}

.list
{
    border-radius: 25px;
    padding: 30px;
    margin: 40px;
    object-fit:cover;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 250px;
    width: 1000px;
}

.classbox
{
    border-radius: 25px;
    padding: 50px;
    margin: 40px;
    object-fit:cover;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    max-width: 500px;
}

.classbox-new
{
    border-radius: 25px;
    padding: 20px;
    margin: 50px;
    object-fit: cover;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    max-width: 250px;
    border-width: 20px;
}

.c0
{
    background:white;
}

.c1
{
    background: lime;
}

.c2
{
    background: orangered
}

.cs1
{
    background: mediumaquamarine;
}

.cs2
{
    background: black;
}

.descc
{
    font-size: medium;
    height: 175px;
}

.btnD1
{
    border: 2px solid #fff;
    color: #000;
    background: #fff;
    border-radius: 50px;
    padding: 10px 10px;
    font-size: 20px;
    outline: none;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btnD1D
{
    border: 2px solid #fff;
    color:white;
    background: Black;
    border-radius: 50px;
    padding: 10px 10px;
    font-size: 20px;
    outline: none;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mini-h
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    font-weight: 700;
}

.med-h
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:x-large;
    font-weight: 700;
    margin: 10px;
}

.sec2
{
    position: relative;
    background-size: cover;
    height: 100vh;
    padding: 100px;
}
 
.contact
{
    position: relative;
    padding: 100px 0;
    background-size: cover;
    min-height: 100vh;
}
.contact form
{
    position: relative;
    z-index: 1000;
}
.contact .form-control
{
    background:transparent;
    border:none;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    height: 50px;
    border-radius: 0;
    background:rgba(0, 0, 0,.6);
    color: #fff;
    font-size: 1.25rem;
}
.contact .form-control:focus,
.contact .form-control:hover
{
    border:none;
    border-bottom: 2px solid rgba(255, 255, 255, .1);
    box-shadow: none;
}
.contact .textarea
{
    min-height: 100px;
}
.contact label
{
    color: #fff;
    font-size: 1.25 rem;
}
footer
{
    background:#000;
    padding: 50px 0 0;
}
 
.sci
{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li
{
    list-style: none;
    margin:0 20px;
}
.sci li a
{
    color:#777;
    font-size: 2em;
    transition: 0.5s;
}
 
.sci li a:hover
{
    color:#fff;
}
 
.crypt
{
    margin-top: 20px;
    text-align: center;
    color: #777;
}
.crypt a,
.crypt a:hover
 
{
    color:#fff;
}

.btnD2,
.btnD2:hover
{
    background: #262626;
    color:#fff;
    border-radius: 30px;
    padding: 10px 20px;
    float: right;
}